<template>
    <div class="flex justify-between items-center bg-slate-100 p-4 text-slate-500 text-sm ">
        <span class="text-xs text-slate-400">جميع الحقوق محفوظة © 2023 Absat.org</span>
        <span class="text-xs text-slate-400"> شركة مكعب الاعمال لتقنية المعلومات  </span>
    </div>
</template>