<template>
        <nav class="fixed z-50 py-2 top-0 navbar w-full ">
            <div class="flex justify-center">
                <div class="container">
                    <div class=" flex flex-col md:flex-row justify-between md:items-center gap-2 ">
                        <div class="w-full md:w-fit flex items-center justify-between md:justify-center mx-3 md:mx-0">
                            <NuxtLink to="/#intro">
                                <img src="~/assets/img/logo_ar_white.webp" class=" h-12 mt-3 md:h-20 md:mt-0  " alt="Logo" />
                            </NuxtLink>
                            <div class="block md:hidden ">
                                <Icon @click="() => isToggleMenuOpen= !isToggleMenuOpen" class="icon text-white mx-6 mt-3 " size="32px" name="nimbus:align-right" />
                            </div>
                        </div>
                        <div  id="links" class="hidden md:flex-1 md:flex flex-col md:flex-row gap-5 justify-between md:items-center pt-5 md:pt-0  ">
                            <div id="left" class=" flex flex-col md:flex-row items-center justify-center ">
                                <ul class="main-menu w-full  flex flex-col md:flex-row md:items-center md:pt-2 px-5 gap-5 ">
                                    <li>
                                        <NuxtLink to="/#featered">
                                            المزايا
                                        </NuxtLink>
                                    </li>
                                    <li>
                                        <NuxtLink to="/#packages">
                                            الاسعار
                                        </NuxtLink>   
                                    </li>
                                    <!-- <li>عن ابسط</li> -->
                                    <li>
                                        <NuxtLink to="/#helpAndsupport">
                                            المساعدة والدعم
                                        </NuxtLink>
                                    </li>
                                    <li><NuxtLink to="/becomeDistributor">كن موزعا</NuxtLink></li>
                                </ul>
                            </div>
                            <div id="right" class="topnav-left  px-3 pt-4 md:pt-0  ">
                                <ul class="flex flex-col md:flex-row gap-3 md:gap-5 md:items-center  md:justify-end ">
                                    <li v-if="!auth.isAuthenticated" class="hidden md:block"><button @click="()=>navigateTo('/signup')" class="btn-primary-dark ">ابدأ الآن مجانا</button></li>
                                    <li v-if="!auth.isAuthenticated" class="pt-1"><NuxtLink to="/login">دخول العملاء</NuxtLink></li>
                                    <li v-if="auth.isAuthenticated" class="pt-1 text-white relative" >
                                        <div 
                                            @click="()=>isOpenMyList=!isOpenMyList"
                                            class="cursor-default"
                                            >مرحبا، {{ auth.userData?.name }}</div>
                                        <ul v-if="auth.isAuthenticated && isOpenMyList" :class="`${isOpenMyList ? 'block' : 'hidden'} user-list absolute w-full  border-slate-50 rounded-b-lg `">
                                            <li   @click="logout" class="pt-1 " >
                                                خروج
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pt-1"><a href="#" > English </a></li>
                                </ul>
                            </div>
                        </div>
                        <div v-if="isToggleMenuOpen" id="links" :class=" ` ${ isToggleMenuOpen ?  'flex' : 'hidden' } transition-all  ease-in-out delay-150  md:flex-1 flex-col md:flex-row gap-5 justify-between md:items-center pt-5 md:pt-0  `">
                            <div id="left" class=" flex flex-col md:flex-row items-center justify-center ">
                                <ul class="main-menu w-full  flex flex-col md:flex-row md:items-center md:pt-2 px-5 gap-5 ">
                                    <li>
                                        <NuxtLink to="/#featered">
                                            المزايا
                                        </NuxtLink>
                                    </li>
                                    <li>
                                        <NuxtLink to="/#packages">
                                            الاسعار
                                        </NuxtLink>   
                                    </li>
                                    <!-- <li>عن ابسط</li> -->
                                    <NuxtLink to="/supportAndHelp">
                                            المساعدة والدعم
                                    </NuxtLink>
                                    <li><NuxtLink to="/becomeDistributor">كن موزعا</NuxtLink></li>
                                </ul>
                            </div>
                            <div id="right" class="topnav-left  px-3 pt-4 md:pt-0  ">
                                <ul class="flex flex-col md:flex-row gap-3 md:gap-5 md:items-center  md:justify-end ">
                                    <li v-if="!auth.isAuthenticated" class="hidden md:block"><button @click="()=>navigateTo('/signup')" class="btn-primary-dark ">ابدأ الآن مجانا</button></li>
                                    <li v-if="!auth.isAuthenticated" class="pt-1"><NuxtLink to="/login">دخول العملاء</NuxtLink></li>
                                    <li v-if="auth.isAuthenticated" class="pt-1 text-white relative" >
                                        <div 
                                            @click="()=>isOpenMyList=!isOpenMyList"
                                            class="cursor-default"
                                            >مرحبا، {{ auth.userData?.name }}</div>
                                        <ul v-if="auth.isAuthenticated && isOpenMyList" :class="`${isOpenMyList ? 'block' : 'hidden'} user-list absolute w-full  border-slate-50 rounded-b-lg `">
                                            <li   @click="logout" class="pt-1 " >
                                                خروج
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="pt-1"><a href="#" > English </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
</template>

<script setup lang="ts">
import { useCustomAxios } from '~/composables/common/useCustomAxios';

const isToggleMenuOpen = ref(false);
const auth = useAuth();
const accessToken = useCookie<string | null>('jwt_token');
const userData = useCookie('user');
const isOpenMyList = ref(false);



const logout = async () =>{
    const res = await useCustomAxios(`https://api.absat.org/auth/users/logout`,{
            method: 'POST',
        });
    console.log(res?.data.value);
    auth.value.isAuthenticated = false;
    auth.value.userData = null;
    accessToken.value = null;
    userData.value = null;
    navigateTo('/')
}

</script>

<style>

.user-list {
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    background-color: #321e73;
}
.user-list li{
    cursor: default;
}
.navbar{
    background-color: #321e73;

    /* background-image: linear-gradient(var(--secondary-color), #231554); */

}

.topnav-left ul li a{
    color: white !important;
}
.topnav-left ul li a:link{
    color: white !important;
}
.topnav-left ul li a:hover{
    color: #fac62a !important;
}
.main-menu{
    color: white;
    cursor:default;
}
.main-menu :hover{
    color: #fac62a;
}



</style>