<template>
    <div class="w-80">
        <div class="text-lg font-bold text-center  border-b-2  mb-3">
            <Icon name="raphael:help" class="text-2xl" />
            <h1 class=" ">معلومات الاتصال</h1>
        </div>
        <div id="Phones" class="py-2">
            <h1 class="font-bold text-lg">التواصل الهاتفي</h1>
            <div class="p-3 my-2 bg-slate-200 rounded-lg">
                <span class="text-slate-400 font-bold" > من داخل المملكة العربية السعودية </span>
                <div class="flex  justify-between border-b border-slate-300 my-4  py-1">
                    <span class="text-slate-400">فريق المبيعات</span>
                    <div>
                        <span dir="ltr" class="px-1 font-bold">053 96 11 96 0</span>
                        <Icon name="ph:phone-duotone" class="text-lg"/>
                    </div>
                </div>
                <div class="flex  justify-between border-b  ">
                    <span class="text-slate-400">فريق المبيعات</span>
                    <div>
                        <span dir="ltr" class="px-1 font-bold">053 96 11 96 0</span>
                        <Icon name="fa6-brands:whatsapp" class="text-lg"/>
                    </div>
                </div>
            </div>
            <div class="p-3 my-2 bg-slate-200 rounded-lg">
                <span class="text-slate-400 font-bold">من خارج المملكة العربية السعودية</span>
                <div class="flex  justify-between border-b  border-slate-300 my-4   py-1">
                    <span class="text-slate-400">فريق المبيعات</span>
                    <div>
                        <span dir="ltr" class="px-1 font-bold">00966 53 96 11 96 0</span>
                        <Icon name="ph:phone-duotone" class="text-lg"/>
                    </div>
                </div>
                <div class="flex  justify-between border-b  ">
                    <span class="text-slate-400">فريق المبيعات</span>
                    <div>
                        <span dir="ltr" class="px-1 font-bold">00966 53 96 11 96 0</span>
                        <Icon name="fa6-brands:whatsapp" class="text-lg"/>
                    </div>
                </div>
            </div>

            <h1 class="font-bold text-lg my-3 pt-3">التواصل عبر البريد الالكتروني</h1>
            <div class="p-3 my-2 bg-slate-200 rounded-lg">
                <div class="flex justify-between items-center border-b border-slate-300 my-2   py-1">
                    <span class="text-slate-400 text-sm">للاستفسارات والشكاوي</span>
                    <div>
                        <span  class="px-1 font-bold">info@absat.org</span>
                        <Icon class="text-lg" name="ic:outline-mail"/>
                    </div>
                </div>
                <div class="flex justify-between items-center border-b border-slate-300 my-2   py-1">
                    <span class="text-slate-400 text-sm">للمبيعات</span>
                    <div>
                        <span  class="px-1 font-bold">sales@absat.org</span>
                        <Icon class="text-lg" name="ic:outline-mail"/>
                    </div>
                </div>
                <div class="flex justify-between items-center  py-1">
                    <span class="text-slate-400 text-sm">للدعم الفني</span>
                    <div>
                        <span  class="px-1 font-bold">support@absat.org</span>
                        <Icon class="text-lg" name="ic:outline-mail"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="SocialMedia" class="py-2 flex gap-5 items-center justify-center">
            <NuxtLink to="https://www.facebook.com/absat.org" target="_blank" >
                <div class="flex justify-between  border-b mb-2">
                    <Icon name="entypo-social:facebook" class="text-2xl" />
                </div>
            </NuxtLink>
            <NuxtLink to="https://www.facebook.com/absat.org" target="_blank" >
                <div class="flex justify-between  border-b mb-2">
                    <Icon name="entypo-social:instagram"  class="text-2xl"  />
                </div>
            </NuxtLink>
            <NuxtLink to="https://www.facebook.com/absat.org" target="_blank" >
                <div class="flex justify-between  border-b mb-2">
                    <Icon name="fa6-brands:square-snapchat" class="text-2xl"  />
                </div>
            </NuxtLink>
            <NuxtLink to="https://www.facebook.com/absat.org" target="_blank" >
                <div class="flex justify-between  border-b mb-2">
                    <Icon name="fa6-brands:square-twitter" class="text-2xl"  />
                </div>
            </NuxtLink>
        </div>

        <!-- <div class="text-lg font-bold text-center p-1  mt-5">
            <Icon name="material-symbols:location-on-outline" class="text-2xl" />
            <h1 class=" border-b-2 mb-3 ">العنوان</h1>
            <p class="text-sm text-slate-500">
                زنجبار، حي النسيم الشرقي  ، الرياض ،المملكة العربية السعودية
            </p>
        </div> -->
    </div>
    
</template>

<script setup>



</script>