<template>
    <div class="block-wrapper  ">
        <div class="block-header">
            <h1 class="text-3xl md:text-6xl my-4">نظام <span>أبسط</span> لإدارة المبيعات</h1>
            <p>
                نظام أبسط لإدارة المبيعات الاقوي والافضل والابسط في ادارة المبيعات كما يوفر نظام ابسط
                <br />
                العديد من المزايا التي تجعلة من اهم انظمة المبيعات التي تساعدك في تحقيق ارباحك واهدافك
            </p>
        </div>
            <div class="container flex flex-col justify-center gap-5 items-center  ">
                <div class="product-feature-list grid grid-cols-1 md:grid-cols-4 gap-5  ">
                    <FeaturesProductItem
                        v-for="(item,index) in items" :key="index"
                        :title = item.title
                        :desc  = item.desc
                        :icon  = item.icon
                        />
                </div>
                <button  @click="()=>navigateTo('/signup')" class="btn-primary-white mt-4">ابدأ الآن مجانا</button>
            </div>
        </div>
</template>

<script setup>
const items = [
    {
        title: "متوافِق مع هيئة الزكاة والضريبة والجمارك",
        desc: "مع أبسط أنشئ فواتير برمز استجابة سريع QR متوافقة مع متطلبات هيئة الزكاة والضريبة في المملكة العربية السعودية.",
        icon: "academicons:preregistered",
    },
    {
        title: "إنشاء تلقائي لإقرارات الضريبية" ,
        desc:"أبسط توفر لك تقرير إقرار ضريبة القيمة المُضافة بشكل مفصل وسهل التعبئة" ,
        icon:"ph:arrows-counter-clockwise-bold"
    },
    {
        title: "نظام سحابي",
        desc:"أبسط تحفظ لك سرية وحماية بياناتك علي سيرفرات عالية الجودة",
        icon:"simple-line-icons:shield"
    },
    {
        title: "تعدد الشركات",
        desc:"لديك مجموعة شركات الان تقدر تدير اعمالك ومبيعات من مكان واحد",
        icon:"teenyicons:git-merge-solid"
    },
    {
        title: "تعدد الفروع",
        desc:"لديك اكثر من فرع  الان تقدر تتاببع مبيعات كل الفروع في وقت واحد لحظة بلحظة",
        icon:"ion:md-git-merge"
    },
    {
        title: "حساب خاص لمندوب المبيعات",
        desc:"لوحة خاصة لمندوب المبيعات لمتابعة فواتيرة مع امكانية اصدار الفواتير وعروض الاسعار الخاصة بة",
        icon:"bxs:user-check"
    },
    {
        title:"متوافق مع اجهزة التابلت والايباد والجوال",
        desc:"تستطيع استخدام النظام من اي جهاز حيث ان النظام ممتوافق مع اجهزة الجوال والتابلت والايباد بالمقاسات المختلفة",
        icon:"ph:device-mobile-camera-duotone"
    },
    {
        title:"نساعدك علي زيادة مبيعاتك",
        desc:"تقارير واحصائيات تساعدك في اتخاذ القرار وزيادة مبيعاتك",
        icon:"ph:chart-bar-duotone",
    }
]
</script>

<style  >



.product-feature-list h1{
    font-size: 64px;
    font-weight: bolder;
    color: var(--secondary-color);
}
.product-feature-list h1 span{
    color: #fac62a;
}
.product-feature-list p{
    padding: 0 10px;
    font-size: large;
    color: var(--secondary-color);
    text-align:justify;
}


.product-feature-list .item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    /* border-bottom-right-radius: 30px; */
    background-color: #efecec;
    background-image: linear-gradient(#f7f1f1,#efecec) ;
    padding: 10px;
    /* margin: 0px 10px 0 10px; */
    height: 200px;
    
}
.product-feature-list  .icon{
    color: #d8d5d5;
    
}
.product-feature-list .item h5{
    width: 100%;
    color: var(--secondary-color);
    font-size: 14px;
    border-bottom: #fac62a 1px dashed;
    margin-bottom: 10px;
    padding: 0 10px 0 10px;
    text-align: center;
}
.product-feature-list div p{
    color: rgb(86, 85, 85);
    font-size: 14px;
}


</style>