<template>
    <div class=" flex flex-col justify-center items-center gap-2">
        <div class="item">
            <Icon class="icon" size="48px" :name="icon"/>
            <h5>{{ title }}</h5>
            <div class="flex justify-between items-center ">
                <p>{{ desc }}</p>
            </div>
        </div>
    </div>
</template>

<script setup>
const props = defineProps({
    title:{
        type:String,
        required:true,
    },
    desc:{
        type:String,
        required:true,
    },
    icon:{
        type:String,
        required:true,
    },
    
}); 
</script>

