<template>
    <div class="block-wrapper">
        <div class="block-header ">
            <h1 class="text-3xl md:text-6xl " >المساعدة <span>والدعم</span></h1>
        </div>
        <div class="flex flex-col md:flex-row gap-5  container justify-center  ">
            <FormsCreateTicket/>
            <Contact/>
        </div>
    </div>
</template>
