<template>
    <div  class="landing-wrapper">
        <div class="landing-intro flex items-center justify-center ">
            <div class="landing-text text-center z-30">
                <h1 class="text-3xl md:text-6xl my-4">بسطناها عليك <span> في كل شي</span></h1>
                <p>
                    مع ابسط نسعي لإستخدام أفضل الحلول التقنية بأفضل التقنيات ونقدمها لك بابسط طريقة
                    <br />
                    تساعدك علي تحقيق اهدافك  بدون اي تعقيدات .
                    <br />
                    <button  @click="()=>navigateTo('/signup')" class="btn-primary-dark mt-4"> ابدأ الآن مجانا</button>
                </p>
            </div>
        </div>
    </div>
</template>

<style scoped >


.landing-wrapper{
    position: relative;
    /* background-color: #422e87; */
    background-image: linear-gradient(var(--secondary-color), #231554);
}
.landing-wrapper:after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('~/assets/img/bg-shap.svg');
    top:20%;
    right: 5%;
}
.landing-wrapper::before{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    background-image: url('~/assets/img/bg-shap.svg');
    transform: rotate(-180deg);
    bottom:10%;
    left: 5%;
}


.landing-intro {
    
    min-height: calc(100vh - var(--nav-hight));
}
.landing-text h1{
    /* font-size: 64px; */
    font-weight: bolder;
    color: white;
}

.landing-text h1 span{
    color: #fac62a;
}
.landing-text p{
    color: white;
    text-align: center;
}

</style>