<template>
    <div class="package-item flex flex-col gap-3 items-center justify-between  ">
        <div>
            <h1>{{ packageName }}</h1>
            <p> {{ packageDesc }} </p>
            <div v-if="packagePrice" class="price text-center mt-2">
                <span> {{ packagePrice }} </span>
                <span class="p-1"> ريال سعودي </span>
                <span> / شهر </span>
            </div>
        </div>
        <ul>
            <li v-for="(featured,index) in packageFeatured" :key="index">
                <Icon name="formkit:checkbox"/>
                <span>{{ featured }}</span>
            </li>
        </ul>
        <button  @click="()=>navigateTo('/signup')" class="btn-primary-white mt-4 ">ابدأ الآن مجانا</button>
    </div>
</template>

<script setup>
const props = defineProps({
    packageName:{
        type: String,
        required: true,
    },
    packageDesc:{
        type: String,
        required: true,
    },
    packagePrice:{
        type: String,
        required: true,
    },
    packageFeatured:{
        type: Array,
        required: true,
    }
});

</script>