<template>
    <div class="block-wrapper">
        <div class="block-header">
            <h1 class="text-3xl md:text-6xl " >الخطط <span>والاسعار</span></h1>
            <p>
                ابدأ الان مجانا 14 يوماً تجربة مجانية - <span>بدون بطاقة ائتمان</span>
            </p>
        </div>
        <div class="flex justify-center items-center mb-3">
            <div @click="changePeriod()" class="monthly-yearly">
                <span :class="`${ period === 'Monthly' && 'active'}`">شهري</span>
                <span :class="`${ period === 'Yearly' && 'active'}`" >سنوي (شهرين مجانا) </span>
            </div>
        </div>
        <PlansAndItems :data="plansAndItems()"/>
        <!-- <div class="grid grid-cols-1 md:grid-cols-3 justify-between gap-5  ">
            <PackageItem 
                v-for="(item,index) in packagesList"
                :key="index"
                :class="`${index != packagesList.length-1 &&  'border-l-2'}`"
                :packageName=item.packageName
                :packageDesc=item.packageDesc
                :packagePrice=item.packagePrice
                :packageFeatured=item.packageFeatured
                />
        </div> -->
    </div>
</template>

<script setup>
import usePackage from "@/mixins/usePackage"

const {plansAndItems,packagesList,period,changePeriod} = usePackage();




</script>

<style >

.package-item h1{
    text-align: center;
    font-size: 38px;
    color: #adabab;
    font-weight: bolder;
}

.package-item p{
    font-size: 14px;
    color: #3f3e3e;
    /* border-bottom: #cccccc 1px dashed; */
    /* margin-bottom: 10px; */
}

.package-item .price{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: #cccccc 1px dashed;
    margin-bottom: 10px;
    padding: 7px 20px 0 20px;
}
.package-item .price span:first-child{
    font-weight: bold;
    font-size: 28px;
}

.package-item .price span:not(:first-child){
    color: #3f3e3e;
    font-size: 14px;
}
.package-item ul {
    /* border-left: s#d9d4d4 1px dashed; */
    padding-left: 10px;
    padding-right: 10px;
}
.package-item ul li{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: #ebecf2 1px solid;
    margin-bottom: 5px;
    margin-top: 5pxs;
}

.package-item ul li span{
    color: #3f3e3e;
    font-size: 14px;
    padding-top: 3px;
}

.monthly-yearly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:fit-content;
    height: 55px;
    background-color: #e7e4e4;
    border-radius: 25px;
    border: #e0dddd 5px solid;
    cursor: default;

}

.monthly-yearly span{
    width:fit-content;
    /* height: 40px; */
    text-align: center;
    /* margin: 5px; */
    padding: 10px 15px 10px 15px;
    color: var(--secondary-color);
}
.monthly-yearly .active{
    border-radius: 25px;
    background-color: var(--primary-color);
    color: #ffffff;
}

</style>