<template>
    <div class="flex flex-col md:flex-row gap-3 py-3 w-full  justify-center items-center">
        <div id="itemName" class="w-full md:flex-1 whitespace-nowrap ">
            <div class="h-24 flex flex-col justify-center px-5">
                <h1 class="text-xl font-bold text-slate-500 "> الخصائص والمزايا </h1>
                <p class="c">المزايا والخصائص لباقات نظام أبسط لإدارة الاعمال</p>
            </div>
            <ul class=" ">
                <li v-for="(option,index) in props.data.spec" :key="index" class="flex items-center text-slate-600 border-b h-9 ms-5 ps-5 bg-slate-50 ">
                    <Icon name="material-symbols-light:radio-button-unchecked"/>
                    <span class="px-2 pt-1">{{ option.title }}</span>
                </li>
            </ul>
        </div>
        <div id="itemName" class="p-5 w-full md:w-56 rounded-lg bg-slate-50  " >
            <div class="h-36 text-center   ">
                <h1 class="text-2xl font-bold text-slate-500 ">{{props.data.plans.basic.title}}</h1>
                <p class="text-slate-400">{{props.data.plans.basic.desc}}</p>
                <br>
                <span class="text-3xl  font-bold">{{props.data.plans.basic.price}}</span>
                <span>SAR</span>
                <span class="px-1">{{props.data.plans.basic.period === 'Monthly' ? 'شهريا' : 'سنويا' }}</span>
            </div>
            <ul>
                <li v-for="(plan,index) in props.data.spec" :key="index" class="flex items-center justify-center text-slate-600 text-sm border-b h-9 ">
                    <Icon v-if="plan.basicPlan === true " class="text-2xl text-indigo-700" name="material-symbols:check-circle-outline-rounded" />
                    <Icon v-else-if="plan.basicPlan === false " class="text-2xl text-slate-700" name="ic:baseline-radio-button-unchecked" />
                    <span v-else class="text-lg">{{ plan.basicPlan }}</span>
                </li>
                <button  @click="()=>navigateTo('/signup')" class="btn-primary-white mt-4 w-full ">ابدأ الآن مجانا</button>
            </ul>
        </div>
        <div id="itemName" class="relative   w-full md:w-56 md:mx-3 border-2 rounded-lg bg-indigo-100  " >
            <!-- <div class="absolute w-20 h-8 bg-indigo-700 start-0 top-10">

            </div> -->
            <div class="h-36 text-center bg-indigo-800  p-5 rounded-t-lg border-b mb-3">
                <h1 class="text-2xl font-bold text-white ">{{props.data.plans.plus.title}}</h1>
                <p class="text-slate-300 my-3">{{props.data.plans.plus.desc}}</p>
                <span class="text-3xl font-bold text-white">{{props.data.plans.plus.price}}</span>
                <span class="text-slate-200">SAR</span>
                <span class="px-1 text-slate-100">{{props.data.plans.plus.period === 'Monthly' ? 'شهريا' : 'سنويا' }}</span>
            </div>
            <ul class="p-5">
                <li v-for="(plan,index) in props.data.spec" :key="index" class="flex items-center justify-center text-slate-600 text-sm border-b h-9 border-slate-300 ">
                    <Icon v-if="plan.plusPlan === true " class="text-2xl text-indigo-700" name="material-symbols:check-circle-outline-rounded" />
                    <Icon v-else-if="plan.plusPlan === false " class="text-2xl text-slate-700" name="ic:baseline-radio-button-unchecked" />
                    <span v-else class="text-lg">{{ plan.plusPlan }}</span>
                </li>
                <button  @click="()=>navigateTo('/signup')" class="btn-primary-white mt-4 w-full ">ابدأ الآن مجانا</button>
            </ul>
        </div>
        <div id="itemName"  class="p-5 w-full md:w-60  rounded-lg bg-slate-50 " >
            <div class="h-36 text-center   ">
                <h1 class="text-2xl font-bold text-slate-500 ">{{props.data.plans.permium.title}}</h1>
                <p class="text-slate-400">{{props.data.plans.permium.desc}}</p>
                <br>
                <span class="text-3xl font-bold">{{props.data.plans.permium.price}}</span>
                <span>SAR</span>
                <span class="px-1">{{props.data.plans.permium.period === 'Monthly' ? 'شهريا' : 'سنويا' }}</span>
            </div>
            <ul>
                <li v-for="(plan,index) in props.data.spec" :key="index" class="flex items-center justify-center text-slate-600 text-sm border-b h-9 ">
                    <Icon v-if="plan.premiumPlan === true " class="text-2xl text-indigo-700" name="material-symbols:check-circle-outline-rounded" />
                    <Icon v-else-if="plan.premiumPlan === false " class="text-2xl text-slate-700" name="ic:baseline-radio-button-unchecked" />
                    <span v-else class="text-lg">{{ plan.premiumPlan }}</span>
                </li>
                <button  @click="()=>navigateTo('/signup')" class="btn-primary-white mt-4 w-full ">ابدأ الآن مجانا</button>
            </ul>
        </div>
        
    </div>
</template>
<script setup>
    const props = defineProps({
            data:{
                type: Object,
                required: true,
            }
        });
</script>