<template>
    <div class="flex flex-col  gap-4 rounded-lg bg-slate-50  p-7 w-full md:w-8/12">
        <h1 class="text-center text-xl mb-2 pb-4 border-b text-slate-400 border-slate-200">{{ props.title }}</h1>
        <div >
            <slot />
        </div>
    </div>
</template>

<script setup>
const props = defineProps({
    title:""
});

</script>