
/* start buttons  */
.btn-primary-dark{
    background-color: var(--btn-primary-bgcolor) !important;
    color: var(--secondary-color);
    padding:7px 25px 3px 25px;
    border-radius: 25px;
}

.btn-primary-dark:hover{
    background-color: white !important;
    color:  var(--secondary-color);
}

.btn-primary-white{
    background-color: var(--btn-primary-bgcolor) !important;
    color:  var(--secondary-color);
    padding:7px 25px 3px 25px;
    border-radius: 25px;
}

.btn-primary-white:hover{
    background-color:  var(--secondary-color) !important;
    color: white !important;
}

/* end buttons */