@tailwind base;
@tailwind components;
@tailwind utilities;




/* Block Style */
.block-wrapper{
    position: relative;
    background-image:linear-gradient(rgb(232, 232, 232),white) ;
    min-height: calc(100vh - var(--nav-hight));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    /* margin-top: var(--nav-hight) ; */
}
.block-wrapper-inside{
    min-height: calc(100vh - var(--nav-hight) - 50px ) !important;
}
@media only screen and (min-width: 600px) {
    .block-wrapper:after{
        content: "";
        width: 450px;
        height: 450px;
        position: absolute;
        background-image: url('~/assets/img/absat-white-450.png');
        background-repeat: no-repeat;
        background-size: 300px;
        top:-20px;
        right: 5%;
        z-index: 1;
        transform: rotate(50deg);
        opacity: 0.3;
    }
    .block-wrapper::before{
        content: "";
        width: 450px;
        height: 450px;
        position: absolute;
        background-image: url('~/assets/img/absat-orange-450.png');
        background-repeat: no-repeat;
        background-size: 300px;
        top:-20%;
        left: 5%;
        z-index: 10;
        transform: rotate(50deg);
        opacity: 0.4;
    }
}
.block-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0 25px 0;
}
.block-header h1{

    color: white;
}
.block-header span{
    color: var(--primary-color);
}

.block-header p{
    color: var(--secondary-color);
    /* padding: 20px; */
}


label{
    color: #777575 !important;
}






