<template>
    <div :dir="currentLanguage === 'en' ? '' : 'rtl'" class="w-full ">
        <LayoutHeader/>
        <div class=" flex flex-col justify-between ">    
            <div class="flex flex-col ">
                <slot />
            </div>
        </div>
        <LayoutFooter/>
    </div>
</template>

<script setup lang="ts">
    useHead({
        title:" أبسط  نظام سحابي لإدارة الأعمال | ABSAT business managment system cloud",
        // meta: "absat.org"
    });
    const currentLanguage = useCookie("lang");
    currentLanguage.value = 'ar'
</script>