<template>
    <UiMwPageWrapper>
        <UiMwCardForm title="كن موزعا" >
            <form v-if="!IsSuccess"  @submit.prevent="submitHandler" class="flex flex-col gap-4">
                <div id="name" class="flex flex-col z-40">
                    <label 
                        for="name"
                        class="text-slate-100 px-2"
                        >اسمك</label>
                    <input 
                        v-model="distributorForm.name"
                        type="text" 
                        placeholder="Abdalllah AlAmri"
                        :class="`${ errors?.name && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                        />
                    <span v-if="errors?.name" class="px-2 pt-1 text-sm text-red-700">{{ errors?.name }}</span>
                </div>
                <div id="country" class="flex flex-col">
                    <label 
                        for="country"
                        class="text-slate-100 px-2"
                        > الدولة</label>
                    <select 
                        v-model="distributorForm.country"
                        :class="`${ errors?.country && ' border-2 border-red-700 ' } rounded p-2 mx-1`"
                        >
                        <option value=""> ----------------- </option>
                        <option value="SaudiArabia">المملكة العربية السعودية</option>
                        <option value="Egypt">جمهورية مصر العربية</option>
                        <option value="UAE">الامارات المتحدة</option>
                        <option value="Kwait"> الكويت</option>
                        <option value="Qatar"> قطر </option>
                        <option value="Bahrain"> البحرين </option>
                        <option value="other">اخري</option>
                    </select>
                    <span v-if="errors?.country" class="px-2 pt-1 text-sm text-red-700">{{ errors?.country }}</span>
                </div>
                <div id="distributorForm" class="flex flex-col">
                    <label 
                        for="country"
                        class="text-slate-100 px-2"
                        > الصفة </label>
                    <select 
                        v-model="distributorForm.distributorClass"
                        :class="`${ errors?.distributorClass && ' border-2 border-red-700 ' } rounded p-2 mx-1`"
                        >
                        <option value=""> ----------------- </option>
                        <option value="Company">شركة</option>
                        <option value="Salesman">مندوب</option>
                    </select>
                    <span v-if="errors?.distributorClass" class="px-2 pt-1 text-sm text-red-700">{{ errors?.distributorClass }}</span>
                </div>
                <div id="mobile" class="flex flex-col z-40">
                    <label 
                        for="mobile"
                        class="text-slate-100 px-2"
                        >رقم الهاتف</label>
                    <input 
                        v-model="distributorForm.mobile"
                        type="number" 
                        placeholder="009665xxxxxxx"
                        :class="`${ errors?.mobile && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                        />
                    <span v-if="errors?.mobile" class="px-2 pt-1 text-sm text-red-700">{{ errors?.mobile }}</span>
                </div>
                <div id="email" class="flex flex-col z-40">
                    <label 
                        for="email"
                        class="text-slate-100 px-2"
                        >البريد الالكتروني</label>
                    <input 
                        v-model="distributorForm.email"
                        type="email" 
                        placeholder="yourname@mail.com"
                        :class="`${ errors?.email && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                        />
                    <span v-if="errors?.email" class="px-2 pt-1 text-sm text-red-700">{{ errors?.email }}</span>
                </div>
                <div id="notes" class="flex flex-col z-40">
                    <label 
                        for="notes"
                        class="text-slate-100 px-2"
                        >الموضوع</label>
                    <textarea
                        v-model="distributorForm.notes"
                        type="notes" 
                        placeholder="ادخل ملاحظاتك ..."
                        :class="`${ errors?.notes && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                        ></textarea>
                    <span v-if="errors?.notes" class="px-2 pt-1 text-sm text-red-700">{{ errors?.notes }}</span>
                </div>
                <div class="flex justify-end ">
                    <UiMwButtonLoading :loading="loading" >إرسال</UiMwButtonLoading>
                </div>
            </form>
            <div v-else>
                <div class=" md:p-7 flex flex-col items-center justify-center text-slate-500">
                    <h3 class="text-2xl">تم إرسال طلبك بنجاح</h3>
                    <p class="p-3 text-center">
                        يسعدنا انظمامك معنا لعائلة أبسط ،
                        سيتم التواصل معاك في أقرب وقت 
                    </p>
                </div>
            </div>
        </UiMwCardForm>
    </UiMwPageWrapper>
</template>

<script setup lang="ts">
import axios from 'axios';
    const runtimeConfig = useRuntimeConfig();
    const IsSuccess = ref(false);
    const loading = ref(false); 
    const errors = ref({
        name: '',
        country: '',
        distributorClass: '',
        mobile: '',
        email: '',
        notes:'',
    })
    const distributorForm = ref({
        name:'',
        country:'',
        distributorClass: '',
        mobile: '',
        email: '',
        notes:'',
    });

    const postHandler = async() =>{
        const _data = {
            name: distributorForm.value.name,
            country: distributorForm.value.country,
            distributorClass: distributorForm.value.distributorClass,
            mobile: distributorForm.value.mobile,
            email: distributorForm.value.email,
            notes: distributorForm.value.notes,
        };
        try{
            const _result = await axios.post(`${runtimeConfig.public.API_AUTH_URL}/distributors-requestes`,
                _data
            );
            loading.value = false;
            const _resultData = _result?.data;
            console.log(_resultData);
            if(_resultData.status === 1){
                IsSuccess.value = true;
            }

        }catch(e){
            loading.value = false;
            console.log(e);
        }
    }

    const validateForm = ():boolean =>{
        errors.value = {
            name: '',
            country: '',
            distributorClass: '',
            mobile: '',
            email: '',
            notes:'', 
        }
        if(!distributorForm.value.name){
            errors.value.name = 'يجب ادخال اسمك ';
        }
        if(!distributorForm.value.country){
            errors.value.country = 'يجب تحديد الدولة  ';
        }
        if(!distributorForm.value.distributorClass){
            errors.value.distributorClass = 'يجب تحديد الصفة   ';
        }
        if(!distributorForm.value.mobile){
            errors.value.mobile = 'يجب ادخال رقم الهاتف   ';
        }
        if(!distributorForm.value.email){
            errors.value.email = 'يجب ادخال البريد الالكتروني   ';
        }

        if(errors.value.name !='' || errors.value.country !=''   || errors.value.distributorClass !=''  || errors.value.mobile !='' || errors.value.email !=''){
            loading.value = false;
            return false;
        }
        return true;
    }

    const submitHandler = ():void =>{
        loading.value = true;
        if(validateForm()){
            postHandler();
           
        }
    }

</script>

