<template>
    <UiMwPageWrapper>
        <form class="w-full md:w-8/12 " @submit.prevent="submitHandler">
            <div class="flex flex-col  gap-5 rounded-xl bg-slate-50  p-7">
                <h1 class="text-center text-xl mb-7 pb-4 border-b text-slate-400 border-slate-200">تسجيل الدخول</h1>                
                <div class="flex flex-col">
                    <label 
                        for="mobile"
                        class="text-slate-100 px-2"
                        >رقم الجوال</label>
                    <input 
                        v-model="user.mobile"
                        type="text" 
                        placeholder="9665xxxxxxxx"
                        :class="`${ errors?.mobile && ' border-2 border-red-500 ' } rounded p-2 mx-1 text-center`"
                        />
                    <span v-if="errors?.mobile" class="px-2 pt-1 text-sm text-red-500">{{ errors?.mobile }}</span>
                </div>
                <div class="flex flex-col">
                    <label 
                        for="password"
                        class="text-slate-100 px-2"
                        >كلمة المرور</label>
                    <input 
                        v-model="user.password"
                        type="password" 
                        placeholder="تتكون كلمة المرور علي الاقل من 6 احرف وارقام"
                        :class="`${ errors?.password && ' border-2 border-red-500 ' } rounded p-2 mx-1 text-center`"
                        />
                    <span v-if="errors?.password" class="px-2 pt-1 text-sm text-red-500">{{ errors?.password }}</span>
                </div>
                <div class="flex flex-col md:flex-row justify-between md:items-center gap-5 mt-5 ">
                    <div class="px-3 flex flex-col gap-2 text-sm text-slate-500">
                        <div class="flex  items-center gap-2">
                            <Icon class="mb-1" name="entypo-social:flickr" />
                            <span >ليس لديك حساب ؟ </span>
                            <NuxtLink to="/signup"  >  انشئ حساب جديد </NuxtLink>
                        </div>
                        <div class="flex items-center gap-1 text-sm">
                            <Icon class="mb-1" name="entypo-social:flickr" />
                            <span >نسيت كلمة المرور ؟</span>
                            <NuxtLink to="/forgetPassword"> لاستعادة كلمة المرور</NuxtLink>
                        </div>
                    </div>
                    <button type="submit" class=" btn-primary-white ">
                        <div v-if="loading" class="flex gap-2 justify-center items-center text-white ">
                            <svg class="animate-spin  h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            <span>جاري التحميل...</span>
                        </div>
                        <span v-else >دخول</span>
                    </button>
                </div>
            </div>
        </form>
    </UiMwPageWrapper>
</template>


<script setup lang="ts">
import axios from 'axios';
import { useCustomAxios } from '~/composables/common/useCustomAxios';
import { tryLogin } from '~/composables/useUser';

    const runtimeConfig = useRuntimeConfig();
    const loading = ref(false);
    const accessToken = useCookie('jwt_token');
    const token = useToken();
    const userCookie = useCookie('user'); 
    const auth = useAuth();
    const errors = ref({
        email:'',
        mobile:'',
        password:'',
    });

    const user = ref({
        email:'',
        mobile:'',
        password:'',
    });

    const formValidate = () =>{
        errors.value = {
            email:'',
            mobile:'',
            password:'',
        };

        if(!user.value.mobile){
            errors.value.mobile = 'يجب ادخال رقم الجوال '
        }else if(user.value.mobile.length  < 9 ){
            errors.value.mobile = ' يجب ادخال رقم الجوال بشكل صحيح' 
        }

        if(!user.value.password){
            errors.value.password = 'يجب ادخال كلمة المرور  '
        }else if(user.value.password.length  < 6){
            errors.value.password = 'يجب ان تتكون كلمة المرور علي الاقل من ٦ حروف او ارقام '
        }

        if(user.value.mobile === '' || user.value.password === '' ){
            loading.value = false
            return false;

        }
        return true;
    }

    const submitHandler = async() =>{
        user.value.email = user.value.mobile;
        if(loading.value) return;
        loading.value = true;
        if(formValidate()){
            console.log(user.value)
            await userPostHandler();
            
        }
    }

    const userPostHandler = async () =>{
        const _dataResult = await tryLogin(user.value.email, user.value.password);
        console.log(_dataResult)
        if(_dataResult){
            accessToken.value = _dataResult.token;
            token.value = _dataResult.token;
            getUserData(_dataResult.status);
        }
        // loading.value = false;
        // await axios.post(`https://api.absat.org/auth/users/login`,user.value)
        // .then((res) =>res.data)
        // .then(data => {
        //     //console.log(data);

        //     accessToken.value = data?.token;
        //     token.value = data?.token;
        //     if(accessToken.value){
        //         getUserData(data?.status);
        //     }
        // }).catch(error =>{
        //     console.error(error)
        //     loading.value = false;
        // });

    } 

    const getUserData = async (status:number) => {
        try{

            const res = await useCustomAxios(`https://api.absat.org/auth/users/current`,{
                method: 'GET',
            });
            //console.log(res.data.value);
            userCookie.value = JSON.stringify(res?.data.value);
            auth.value.userData = res?.data.value;
            auth.value.isAuthenticated = true;
            loading.value = false;
            if(userCookie.value && status === 101){
                await navigateTo('/tenantCreate');
            }else{
                //navigateTo('/');
                await navigateTo(runtimeConfig.public.APP_SALES_URL,{ external: true });
            }
        }catch(error){
            console.log(error)
            loading.value = false;
        }
    }

</script>

<style scoped>
a{
    color: var(--secondary-color);
}
a:hover{
    color: var(--primary-color);
}
</style>