<template>
    <UiMwPageWrapper>

        <form class=" w-full md:w-8/12"  @submit.prevent="submitHandler">
            <div class="flex flex-col  gap-5 rounded-xl bg-slate-50  p-7">
                <h1 class="text-center text-xl pb-2 border-b text-slate-400 border-slate-200">إنشئ حسابك</h1>
                <div v-if="errors?.global" class="p-2  text-sm font-bold text-red-500 text-center border border-red-200 bg-red-100   rounded-lg"> {{ errors?.global }} </div>
                <div class="flex flex-col ">
                    <label 
                        for="name"
                        class="text-slate-100 px-2"
                        >إسمك بالكامل</label>
                    <input 
                        id="name"
                        v-model="user.name"
                        type="text" 
                        placeholder="عبدالله العمري"
                        :class="`${ errors?.name && ' border-2 border-red-500 ' } rounded p-2 mx-1`"
                        />
                    <span v-if="errors?.name" class="px-2 pt-1 text-sm text-red-500">{{ errors?.name }}</span>
                </div>
                <div class="flex flex-col">
                    <label 
                        for="jobTitle"
                        class="text-slate-100 px-2"
                        >منصبك الوظيفي</label>
                    <input 
                        v-model="user.jobTitle"
                        type="text" 
                        placeholder="مدير حسابات"
                        class="rounded p-2 mx-1"
                        />
                </div>
                <div class="flex flex-col">
                    <label 
                        for="email"
                        class="text-slate-100 px-2"
                        >البريد الالكتروني</label>
                    <input 
                        v-model="user.email"
                        type="email" 
                        placeholder="abdallah-alamari@your-company.com"
                        :class="`${ errors?.email && ' border-2 border-red-500 ' } rounded p-2 mx-1`"
                        />
                        <span v-if="errors?.email" class="px-2 pt-1 text-sm text-red-500">{{ errors?.email }}</span>
                </div>
                <div class="flex flex-col">
                    <label 
                        for="mobile"
                        class="text-slate-100 px-2"
                        >رقم الجوال</label>
                    <input 
                        v-model="user.mobile"
                        type="text" 
                        placeholder=""
                        :class="`${ errors?.mobile && ' border-2 border-red-500 ' } rounded p-2 mx-1`"
                        />
                    <span v-if="errors?.mobile" class="px-2 pt-1 text-sm text-red-500">{{ errors?.mobile }}</span>
                </div>
                <div class="flex flex-col">
                    <label 
                        for="password"
                        class="text-slate-100 px-2"
                        >كلمة المرور</label>
                    <input 
                        v-model="user.password"
                        type="password" 
                        placeholder="تتكون كلمة المرور علي الاقل من 6 احرف وارقام"
                        :class="`${ errors?.password && ' border-2 border-red-500 ' } rounded p-2 mx-1`"
                        />
                    <span v-if="errors?.password" class="px-2 pt-1 text-sm text-red-500">{{ errors?.password }}</span>
                </div>
                <div class="flex justify-end ">
                    <UiMwButtonLoading :loading="loading">إرسال</UiMwButtonLoading>
                </div>
            </div>
        </form>
    </UiMwPageWrapper>
</template>

<script setup>

import axios from 'axios';
import {tryLogin} from '~/composables/useUser'
    const loading = ref(false);
    const errors = ref({});
    const userCookie = useCookie('user'); 
    const accessToken = useCookie('jwt_token');
    const token = useToken();
    const user = ref({
        username: '',
        name:'',
        jobTitle:'',
        email:'',
        mobile:'',
        password:'',
        default_app_id:null,
        my_apps:null,
        user_class_id:null,
        userSettings:null,
        tenant_id:null,
        company_id:null,
        branch_id:null,
    });

    const formValidate = () =>{
        errors.value = {};

        if(!user.value.name){
            errors.value.name = 'يجب ادخال الاسم '
        }else if(user.value.name.length < 7){
            errors.value.name = 'يجب ادخال الاسم كامل ' 
        }

        if(!user.value.email){
            errors.value.email = 'يجب ادخال البريد الالكتروني '
        }

        if(!user.value.mobile){
            errors.value.mobile = 'يجب ادخال رقم الجوال '
        }else if(user.value.mobile.length  < 9 ){
            errors.value.mobile = ' يجب ادخال رقم الجوال بشكل صحيح' 
        }

        if(!user.value.password){
            errors.value.password = 'يجب ادخال كلمة المرور  '
        }else if(user.value.password.length  < 6){
            errors.value.password = 'يجب ان تتكون كلمة المرور علي الاقل من ٦ حروف او ارقام '
        }

        if(Object.keys(errors.value).length > 0 ){
            loading.value = false;
            return false;
        }
        return true;
    }

    const submitHandler = async() =>{
        loading.value = true;
        if(formValidate()){
            console.log(user.value)
            if(await userPostHandler()){
                await tryloginHandler();
                loading.value = false;
                await navigateTo('/tenantCreate');
            }
        }
    }

    const userPostHandler = async () =>{
        user.value.username = btoa(user.value.email).substring(10,21);
        const res = await axios.post(`https://api.absat.org/auth/users/signup`,user.value);
        console.log(res.data);  
        if(res.data?.status === 0){
            errors.value.global= 'هذا المستخدم مسجل من قبل اذا كنت نسيت كلمة المرور يمكنك استعادة كلمة المرور'
            return false;
        }
        userCookie.value = JSON.stringify(res.data);
        return true;
    } 

    const tryloginHandler = async () =>{
        const _dataResult = await tryLogin(user.value.email, user.value.password);
        if(_dataResult){
            accessToken.value = _dataResult.token;
            token.value = _dataResult.token;
        }
        console.log(_dataResult);
    }

</script>
