<template>
    <UiMwPageWrapper>
        
        <UiMwCardForm title="المساعدة والدعم">
            <div  v-if="sucess" class="w-full  text-center  text-slate-600  font-bold">
                 شكرا لك،
                 عميلنا العزير <br />
                تم إرسال طلبك بنجاح سيتم الرد عليك في اقرب وقت 
            </div>
            <form v-else  @submit.prevent="submitHandler"  >
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col z-40">
                        <label 
                            for="name"
                            class="text-slate-100 px-2"
                            >اسمك الثنائي</label>
                        <input 
                            id="name"
                            v-model="formData.customerName"
                            type="text" 
                            placeholder=""
                            :class="`${ errors?.customerName && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                            />
                        <span v-if="errors?.customerName" class="px-2 pt-1 text-sm text-red-700">{{ errors?.customerName }}</span>
                    </div>
                    <div class="flex flex-col z-40">
                        <label 
                            for="name"
                            class="text-slate-100 px-2"
                            >البريد الالكتروني</label>
                        <input 
                            id="email"
                            v-model="formData.email"
                            type="email" 
                            placeholder=""
                            :class="`${ errors?.email && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                            />
                        <span v-if="errors?.email" class="px-2 pt-1 text-sm text-red-700">{{ errors?.email }}</span>
                    </div>
                    <div class="flex flex-col z-40">
                        <label 
                            for="mobile"
                            class="text-slate-100 px-2"
                            >رقم الهاتف</label>
                        <input 
                            id="mobile"
                            v-model="formData.mobile"
                            type="number" 
                            placeholder=""
                            :class="`${ errors?.mobile && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                            />
                        <span v-if="errors?.email" class="px-2 pt-1 text-sm text-red-700">{{ errors?.email }}</span>
                    </div>
                    <div class="flex flex-col">
                        <label 
                            for="empCount"
                            class="text-slate-100 px-2"
                            >أختار القسم</label>
                        <select 
                            v-model="formData.sectionId"
                            placeholder="abdallah-alamari@your-company.com"
                            :class="`${ errors?.sectionId && ' border-2 border-red-700 ' } rounded p-2 mx-1`"
                            >
                            <option value="">---------------------</option>
                            <option value="SUPPORT">الصيانة والدعم الفني</option>
                            <option value="BILLS">المبيعات والفواتير</option>
                            <option value="COMPLIANS">استفسارات وشكاوي</option>
                            <option value="OTHER">اخري</option>
                        </select>
                            <span v-if="errors?.sectionId" class="px-2 pt-1 text-sm text-red-700">{{ errors?.sectionId }}</span>
                    </div>
                    <div class="flex flex-col z-40">
                        <label 
                            for="subject"
                            class="text-slate-100 px-2"
                            > العنوان </label>
                        <input 
                            id="subject"
                            v-model="formData.subject"
                            type="text" 
                            placeholder=""
                            :class="`${ errors?.subject && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                            />
                        <span v-if="errors?.subject" class="px-2 pt-1 text-sm text-red-700">{{ errors?.subject }}</span>
                    </div>
                    <div class="flex flex-col z-40">   
                        <textarea 
                            id="content"
                            v-model="formData.content"
                            type="text" 
                            placeholder=""
                            rows="4"
                            :class="`${ errors?.content && ' border-2 border-red-700 ' }  rounded p-2 mx-1`"
                            ></textarea>
                        <span v-if="errors?.content" class="px-2 pt-1 text-sm text-red-700">{{ errors?.content }}</span>
                    </div>
                    <div class="flex justify-end ">
                        <UiMwButtonLoading :loading="loading" >إرسال</UiMwButtonLoading>
                        <!-- <button type="submit" class=" btn-primary-white">إرسال</button> -->
                    </div>
                </div>
            </form>
        </UiMwCardForm>  
 
           
    </UiMwPageWrapper>
</template>

<script setup lang="ts">
// import { useCustomAxios } from '~/composables/common/useCustomAxios';
import axios from 'axios';
import { useCurrentLang } from '~/composables/states';
// import {MainResponse} from '~/types/MainResponse';

const runtimeConfig = useRuntimeConfig();
definePageMeta({
    layout:'default',
});

const loading = ref(false)
const sucess = ref(false)
const auth = useAuth(); 
const currentLang = useCurrentLang();
const errors = ref({
    customerName : '',
    customerId : '',
    email:'',
    mobile:'',
    subject:'',
    content:'',
    sectionId:'',
})
const formData = ref({
    customerName : '',
    customerId : '',
    email:'',
    mobile:'',
    subject:'',
    content:'',
    sectionId:'',
});

const validateForm = (): Boolean =>{
    errors.value={
        customerName : '',
        customerId : '',
        email:'',
        mobile:'',
        subject:'',
        content:'',
        sectionId:'',
}
    if(!formData.value.customerName){
        errors.value.customerName = 'يجب ادخال اسمك ';
    }
    if(!formData.value.email){
        errors.value.email = 'يجب ادخال البريد الالكتروني';
    }
    if(!formData.value.mobile){
        errors.value.mobile = 'يجب ادخال رقم الجوال ';
    }
    if(!formData.value.subject){
        errors.value.subject = 'يجب ادخال العنوان ';
    }
    if(!formData.value.content){
        errors.value.content = 'يجب ادخال محتوي رسالتك ';
    }
    if(!formData.value.sectionId){
        errors.value.sectionId = 'يجب تحديد القسم   ';
    }

    if(errors.value.customerName !='' || errors.value.email !='' || errors.value.mobile != '' || errors.value.subject != '' || errors.value.content != '' || errors.value.sectionId != ''){
        loading.value = false;
        return false;
    }
    return true;
}

const postHandler = async() =>{
    const _data ={
        customerName : formData.value.customerName,
        // customerId  : '',
        email : formData.value.email,
        mobile : formData.value.mobile,
        subject : formData.value.subject,
        content : formData.value.content,
        sectionId : formData.value.sectionId,
        
    };
    console.log(_data);

    try{
        const res = await axios.post(`https://api.absat.org/support`, _data );
        console.log(res?.data);
        if(res?.data){
            sucess.value = true;
        }
        loading.value = false;
        
    }catch(e){
        loading.value = false;
    }
}

const submitHandler = () =>{

    loading.value = true;

    if(validateForm()){
        postHandler();
        // navigateTo('/myprofile');
    }
}

</script>