<template>
        <UiMwPageWrapper>
            <form class=" w-full md:w-8/12" @submit.prevent="submitHandler">
                <div class="flex flex-col  gap-4 rounded-lg bg-slate-50  p-7">
                    <h1 class="text-center text-xl  pb-2 border-b text-slate-400 border-slate-200">إنشئ شركتك</h1>
                    
                    <div class="flex flex-col z-40">
                        <label 
                            for="name"
                            class="text-slate-100 px-2"
                            >اسم شركتك</label>
                        <input 
                            id="name"
                            v-model="tenantForm.name"
                            type="text" 
                            placeholder="مؤسسة للتجارة والمقاولات"
                            :class="`${ errors?.name && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                            />
                        <span v-if="errors?.name" class="px-2 pt-1 text-sm text-red-700">{{ errors?.name }}</span>
                    </div>
                    <div class="flex flex-col">
                        <label 
                            for="branch`count"
                            class="text-slate-100 px-2"
                            >عدد الفروع</label>
                        <input 
                            v-model="tenantForm.branchCount"
                            type="number" 
                            placeholder="ادخل عدد الفروع"
                            :class="`${ errors?.branchCount && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                            />
                            <span v-if="errors?.branchCount" class="px-2 pt-1 text-sm text-red-700">{{ errors?.branchCount }}</span>

                    </div>
                    <div class="flex flex-col">
                        <label 
                            for="branchName"
                            class="text-slate-100 px-2"
                            >اسم الفرع الرئيسي</label>
                        <input 
                            v-model="tenantForm.branchName"
                            type="text" 
                            placeholder="فرع الرياض"
                            :class="`${ errors?.branchName && ' border-2 border-red-700 ' } text-center rounded p-2 mx-1`"
                            />
                            <span v-if="errors?.branchName" class="px-2 pt-1 text-sm text-red-700">{{ errors?.branchName }}</span>

                    </div>
                    <div class="flex flex-col">
                        <label 
                            for="empCount"
                            class="text-slate-100 px-2"
                            >عدد الموظفين</label>
                        <select 
                            v-model="tenantForm.empCount"
                            placeholder="abdallah-alamari@your-company.com"
                            :class="`${ errors?.empCount && ' border-2 border-red-700 ' } rounded p-2 mx-1`"
                            >
                            <option value="1">من 1 الي 10 مموظفين</option>
                            <option value="20">من 11 الي 20 مموظفين</option>
                            <option value="30">من 21 الي 30 مموظفين</option>
                            <option value="40">من 31 الي 40 مموظفين</option>
                            <option value="50">من 41 الي 50 مموظفين</option>
                            <option value="100">من 50 الي 100 مموظفين</option>
                            <option value="200"> اكثر من 100 موظف </option>
                        </select>
                            <span v-if="errors?.empCount" class="px-2 pt-1 text-sm text-red-700">{{ errors?.empCount }}</span>
                    </div>
                    <div class="flex flex-col">
                        <label 
                            for="country"
                            class="text-slate-100 px-2"
                            > الدولة</label>
                        <select 
                            v-model="tenantForm.country"
                            :class="`${ errors?.country && ' border-2 border-red-700 ' } rounded p-2 mx-1`"
                            >
                            <option value=""> ----------------- </option>
                            <option value="SaudiArabia">المملكة العربية السعودية</option>
                            <option value="Egypt">جمهورية مصر العربية</option>
                            <option value="UAE">الامارات المتحدة</option>
                            <option value="Kwait"> الكويت</option>
                            <option value="Qatar"> قطر </option>
                            <option value="Bahrain"> البحرين </option>
                            <option value="other">اخري</option>
                        </select>
                        <span v-if="errors?.country" class="px-2 pt-1 text-sm text-red-700">{{ errors?.country }}</span>
                    </div>
                    <div class="flex flex-col">
                        <label 
                            for="currency"
                            class="text-slate-100 px-2"
                            >عملتك الاساسية</label>
                        <select 
                            v-model="tenantForm.currency"
                            :class="`${ errors?.currency && ' border-2 border-red-700 ' } rounded p-2 mx-1`"
                            >
                            <option value=""> ----------------- </option>
                            <option value="SAR">الريال السعودي SAR</option>
                            <option value="AED"> الدرهم الاماراتي AED</option>
                            <option value="EGP"> الجنية المصري EGP</option>
                        </select>
                        <span v-if="errors?.currency" class="px-2 pt-1 text-sm text-red-700">{{ errors?.currency }}</span>
                    </div>
                    <div class="flex flex-col">
                        <label 
                            for="hasVat"
                            class="text-slate-100 px-2"
                            > هل انت مسجل لضريبة القيمة المضافة</label>
                        <select 
                            v-model="tenantForm.hasVat"
                            :class="`${ errors?.hasVat && ' border-2 border-red-700 ' } rounded p-2 mx-1`"
                            >
                            <option value=""> ----------------- </option>
                            <option :value="true">نعم</option>
                            <option :value="false">لا</option>
                        </select>
                        <span v-if="errors?.hasVat" class="px-2 pt-1 text-sm text-red-700">{{ errors?.hasVat }}</span>
                    </div>
                    <div class="flex justify-end ">
                        <UiMwButtonLoading :loading="loading" >إرسال</UiMwButtonLoading>
                        <!-- <button type="submit" class=" btn-primary-white">إرسال</button> -->
                    </div>
                </div>
            </form>
        </UiMwPageWrapper>
</template>

<script setup lang="ts">
import { useCustomAxios } from '~/composables/common/useCustomAxios';
import { useCurrentLang } from '~/composables/states';
import { User } from '~/types/Auth';
// import {MainResponse} from '~/types/MainResponse';

    const runtimeConfig = useRuntimeConfig();
    const userCookie = useCookie<User>('user'); 
    onMounted(()=>{
        if(!userCookie.value){
            console.log("userCookie is not set");
        }else{
            console.log("userCookie is:",userCookie.value);
        }
    });
    definePageMeta({
        layout:'default',
        //middleware:['auth'],
    });
    const loading = ref(false)
    const auth = useAuth(); 
    const currentLang = useCurrentLang();
    const errors = ref({
        name:'',
        branchCount:'',
        branchName: '',
        empCount: '',
        currency: '',
        country:'',
        hasVat: '',
    })
    const tenantForm = ref({
        name:'',
        branchCount: 1,
        branchName: '',
        empCount: 1,
        currency: 'SAR',
        country:'SaudiArabia',
        hasVat: true,
    });

    const validateForm = (): Boolean =>{
        errors.value={
        name:'',
        branchCount:'',
        branchName: '',
        empCount: '',
        currency: '',
        country:'',
        hasVat: '',
    }
        if(!tenantForm.value.name){
            errors.value.name = 'يجب ادخال اسم شركتك';
        }
        if(!tenantForm.value.branchName){
            errors.value.branchName = 'يجب ادخال اسم الفرع الرئيسي';
        }
        if(!tenantForm.value.branchCount){
            errors.value.branchCount = 'يجب ادخال عدد الفروع';
        }

        if(errors.value.name !='' || errors.value.branchName !='' || errors.value.branchCount != ''){
            loading.value = false;
            return false;
        }
        return true;
    }
    const updateUser = async (tenantId: string,companyId: string,branchId:string) =>{
        const _datauser = {
                default_app_id:runtimeConfig.public.APP_SALES_ID,
                tenant_id: tenantId,
                company_id: companyId,
                branch_id: branchId,
            }
        const resUser = await useCustomAxios(`https://api.absat.org/auth/users/update/`,{
            method: "PUT",
            data: _datauser
        })
        if(resUser?.data.value){
            console.log('userUpdate',resUser?.data.value);
            return true;
        }
        return false;
    }

    const postHandler = async() =>{
        const _data = 
        {
            userId: userCookie.value._id ,
            tenantName : tenantForm.value.name,
            tenantCountry : tenantForm.value.country,
            contactPersonName : userCookie.value.name,
            contactPersonMobile : userCookie.value.mobile,
            username :userCookie.value.username,
            companies :
                [
                    {
                        name:[
                            {
                                text : tenantForm.value.name,
                                lang : currentLang.value
                            }
                        ],
                        isActive: true,
                        branchCount: tenantForm.value.branchCount,
                        empCount: tenantForm.value.empCount,
                        mainCurrency: tenantForm.value.currency,
                        hasVat: tenantForm.value.hasVat,
                        country: tenantForm.value.country,
                        branches:[
                            {
                                name:[
                                    {
                                        text : tenantForm.value.branchName,
                                        lang : currentLang.value
                                    }
                                ],
                            }
                        ],
                        settings : {
                            generalSettings: [
                                {
                                    name: "TARGET_YEARLY",
                                    value: "2000000",
                                },
                                {
                                    name: "TARGET_MONTHLY",
                                    value: "150000",
                                },
                                {
                                    name: "NOTIFICATIONS_EMAILS",
                                    value: userCookie.value.email,
                                },
                                {
                                    name: "ACTIVE_SEND_EMAIL",
                                    value: "false",
                                },
                                {
                                    name: "ACTIVE_SEND_SMS",
                                    value: "false",
                                },
                                {
                                    name: "DEFAULT_LANG",
                                    value: currentLang.value,
                                },
                                {
                                    name: "DEFAULT_THEM",
                                    value: "light",
                                }
                            ],
                            invoice: [
                                {
                                    name: "SHOW_ADDRESS_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_PHONE_ON_PRINT",
                                    value: "false",
                                },
                                {
                                    name: "SHOW_QR_KSA_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_VAT_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_LOGO_ON_PRINT",
                                    value: "false",
                                },
                                {
                                    name: "SHOW_TERMS_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_EMAIL_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "TYPE_INV_PRINT",
                                    value: "sm",
                                },
                                {
                                    name: "INV_TERMS_PRINT",
                                    value: "",
                                },
                                {
                                    name: "PRODUCT_LEVEL",
                                    value: "TenantAndCompany",
                                },
                                {
                                    name: "PRICE_INCLUDE_VAT",
                                    value: "false",
                                },
                                {
                                    name: "INV_NO_FORMAT",
                                    value: "UserAndNumber",
                                },
                                {
                                    name: "INV_NO_SEPERATE",
                                    value: "-",
                                },
                                {
                                    name: "INV_PREFIX",
                                    value: "inv-",
                                },
                                {
                                    name: "INV_VAT_PERCENT",
                                    value: "15",
                                },
                                {
                                    name: "INV_TO_FIXED_NUMBER",
                                    value: "1",
                                },
                                {
                                    name: "INV_ITEMS_ROW_NUMBER",
                                    value: "1",
                                },
                                {
                                    name: "INV_NO_START",
                                    value: "100",
                                },
                                {
                                    name: "INV_CURRENCY",
                                    value: tenantForm.value.currency || "sar",
                                },
                                {
                                    name: "INV_CUSTOMER_DEFAULT",
                                    value: "false",
                                },
                                {
                                    name: "INV_SALESMAN_DEFAULT",
                                    value: "false",
                                },
                                {
                                    name: "INV_PAYMENT_AFTER_CREATE",
                                    value: "true"
                                }
                            ],
                            quote: [
                                {
                                    name: "SHOW_ADDRESS_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_PHONE_ON_PRINT",
                                    value: "false",
                                },
                                {
                                    name: "SHOW_QR_KSA_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_VAT_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_LOGO_ON_PRINT",
                                    value: "false",
                                },
                                {
                                    name: "SHOW_TERMS_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "SHOW_EMAIL_ON_PRINT",
                                    value: "true",
                                },
                                {
                                    name: "TYPE_INV_PRINT",
                                    value: "sm",
                                },
                                {
                                    name: "INV_TERMS_PRINT",
                                    value: "",
                                },
                                {
                                    name: "PRODUCT_LEVEL",
                                    value: "TenantAndCompany",
                                },
                                {
                                    name: "PRICE_INCLUDE_VAT",
                                    value: "false",
                                },
                                {
                                    name: "INV_NO_FORMAT",
                                    value: "UserAndNumber",
                                },
                                {
                                    name: "INV_NO_SEPERATE",
                                    value: "-",
                                },
                                {
                                    name: "INV_PREFIX",
                                    value: "qt-",
                                },
                                {
                                    name: "INV_VAT_PERCENT",
                                    value: "15",
                                },
                                {
                                    name: "INV_TO_FIXED_NUMBER",
                                    value: "1",
                                },
                                {
                                    name: "INV_ITEMS_ROW_NUMBER",
                                    value: "1",
                                },
                                {
                                    name: "INV_NO_START",
                                    value: "100",
                                },
                                {
                                    name: "INV_CURRENCY",
                                    value: tenantForm.value.currency || "sar",
                                },
                                {
                                    name: "INV_CUSTOMER_DEFAULT",
                                    value: "false",
                                },
                                {
                                    name: "INV_SALESMAN_DEFAULT",
                                    value: "false",
                                },
                                {
                                    name: "INV_PAYMENT_AFTER_CREATE",
                                    value: "true"
                                }
                            ]

                        }
                    }
                ],
                languages :[
                    {
                        langName : "English",
                        langCode : "en"
                    },
                    {
                        langName : "عربي",
                        langCode : "ar"
                    }
                ],
                setting:{
                        generalSettings: [
                                {
                                    name : "DEFAULT_LANG",
                                    value : "ar"
                                },
                                {
                                    name : "DEFAULT_THEM",
                                    value : "light"
                                }
                            ],
                }
        }
        console.log(_data);

        try{
            const res = await useCustomAxios(`https://api.absat.org/auth/tenants`,{
                    method: 'POST',
                    data: _data
                });
                console.log('tenant',res?.data.value);
                console.log('tenantId',res?.data.value.data._id);
                console.log('companyId',res?.data.value.data.companies[0]._id);
                console.log('brancheId',res?.data.value.data.companies[0].branches[0]._id);
                const tenantId  = res?.data.value.data._id;
                const companyId = res?.data.value.data.companies[0]._id;
                const branchId  = res?.data.value.data.companies[0].branches[0]._id;
            if(await updateUser(tenantId,companyId,branchId)){
                return true;
            }
            return false;
            
        }catch(err){
            loading.value = false;
            console.log(err)
        }
    }

    const submitHandler = async() =>{
        loading.value = true;
        if(validateForm()){
            if(await postHandler()){
                await navigateTo(runtimeConfig.public.APP_SALES_URL,{ external: true });
            }
            loading.value = false;
        }
    }

</script>